#start-point, #end-point {
    top: 340px;
    width: 12px;
    height: 12px;
    background-color: red;
    position: absolute;
}
#start-point {
    top: 240;
    left: 30px;
    height: 20px;  
}
#test-point {
    position: absolute;
    background-color: black;
    width: 2px;
    height: 2px;
}

#collision-right {
    position: absolute;
    background-color: rgb(0, 162, 255);
    top: 200px;
    left: 200px;
    width: 36px;
    height: 10px;
    rotate: 30deg;  
}
.s {
    position: absolute;
    background-color: rgb(0, 162, 255);
    top: 160px !important;
    left: 200px;
    width: 12px;
    height: 36px;
}
#collision-left {
    position: absolute;
    background-color: rgb(0, 162, 255);
    top: 300px;
    left: 100px;
    width: 36px;
    height: 12px;
    rotate: -30deg;
}
#cannon-ball {
    position: absolute;
    background-color: black;
    border-radius: 10px;
    width: 6px;
    height: 6px;
}
#end-point {
    left: 30px;
}

#container {
    border: 6px double black;
    height: 350px;
    width: 750px;
}
